.main-content {
  max-width: 100%; /* Or any width */
  margin: auto;
  background: white;
  padding: 10px;
  height: 1600px;
}

.navigation {
  position: sticky;
  top: 0;
  padding: 16px;
  background-color: #f4f4f4;
  border-bottom: 0.25px solid #8d8d8d;
}

.tabs {
  position: sticky;
  top: 51px;
  padding: 16px 16px 0 16px;
  background-color: #f4f4f4;
}

.info {
  padding: 16px;
  background-color: #f4f4f4;
}
